@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #010113;
    color: antiquewhite;
}

/* In your global CSS file (e.g., index.css) */
html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }
  
  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }