@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #010113;
    color: antiquewhite;
}